

.mainContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftContainer {
  width: 62.748%;
}
.logoContainer img {
  width: 192px;
  height: 47px;
}

.mainMenu {
  margin-top: 7px;
}

.mainMenu ul {
  display: flex;
  list-style: none;
}

.mainMenu li {
  margin-right: 22px;
}

.mainMenu a {
  text-decoration: none;
  padding: 12px 0;
  color: #202124;
  font-size: 15px;
}

.mainMenu li:hover a {
  color: #0c720d;
}

.dropdown {
    display: inline-block;
    position: relative; 
  }
  
  .dropdownMenu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    list-style: none;
    z-index: 10;
  }
  
  .dropdown:hover .dropdownMenu {
   
  }
  
  .menuItem a {
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    display: block;
  }
  
  .menuItem a:hover {
    background-color: #f1f1f1;
  }
  


.rightContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btnLogin {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.loginBtn {
  width: 165px;
  height: 50px;
  font-size: 15px;
  padding: 9px 30px;
  color: #0c720d;
  background-color: #0c720d12;
  border: none;
  border-radius: 6px;
}
.jobpostBtn {
    height: 50px;
    font-size: 15px;
    padding: 9px 40px;
    color: #ffffff;
    background-color: #0c720d;
    border: none;
    border-radius: 8px;
  }
  
  .notificationIcon {
    margin-bottom: 7px;
  }
