
.footer-item {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-item:hover {
  transform: translateX(15px); 
  color: #127512; 
}

.footer-item:hover::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 50%;
  width: 12px; 
  height: 2px; 
  background-color: #127512;
  transform: translateY(-50%);
}

/* download sectiojn slide-right */
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-right {
  animation: slideRight 1s ease-out;
}

.animate-slide-left {
  animation: slideLeft 1s ease-out;
}



/* Container and Image Styling */
.image-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
}

.slider-image {
  transform: scale(1);
 
}

.image-container:hover .slider-image {
  transform: scale(1.1); 
  transition: transform 0.8s ease, opacity 0.8s ease; 
  animation: image-zoom-fade 3s ease-in-out infinite;
}

@keyframes image-zoom-fade {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.08);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}




