.banner {
    padding: 30px;
    max-width: 1280px;
    margin: 0 auto;
  }
  

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  
  .leftContent {
    flex: 1;
  }
  
  .title {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 600;
  }
  
  .subtitle {
    font-size: 15px;
    color: #77838f;
    margin: 0 0 35px;
  }
  
  .searchForm {
    display: flex;
    align-items: center;
    gap: 10px; 
    justify-content: space-between;
  }
  
  .searchInput {
    padding: 10px;
    border: none;
    width: 250px;
    border-radius: 5px; 
  }
  
  .searchIcon {
    color: #888;
  }
  
  .searchButton {
    width: 163px;
    height: 60px;
    font-size: 15px;
    padding: 9px 30px;
    background: #0C720D;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .filterListingForm {
    padding: 10px;
    background-color: #ffffff;
  }
  .subtitleBottom{
    font-size: 15px;
    color: #202124;
    margin: 35px 0 0px;
    font-weight: 500;
  }
  .subtitleBottom span{
    font-size: 15px;
    color: #696969;
    margin: 35px 0 0px;
  }
  .rightImage {
    flex: 1;
 max-width: 550px;
  }
  
.image{
    margin-left: 20px;
}
  

/* Responsive Layout */
/* @media (min-width: 768px) {
  .content {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }

  .leftContent {
    text-align: left;
  }

  .searchForm {
    justify-content: flex-start;
  }
} */
